<section x-data="{selectedMutation: undefined}">
  <h1 class="text-2xl mb-10"><%= @protein.protien_name %> sequence</h1>
  <h2 class="break-words mb-20">

    <%= for {char, idx} <- Enum.with_index(String.codepoints(@protein.sequence)) do %>
      <button 
        @click={"selectedMutation = #{idx} + 1;"} 
        :class={"['w-10', selectedMutation == #{idx} + 1 ? 'border-2 border-green-500' : '', #{MapSet.member?(@indexMap,idx+ 1)} ? 'text-green-500' : '']"}>
          <%= char %> 
        </button>
    <% end %>
  </h2>
  
  <div class="mb-20">
  <h1 class="text-xl mb-10">Filtered Mutations</h1>
    <table class="border-collapse table-auto w-full text-md">
      <thead>
        <th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-gray-400 text-left">Mutation</th>
        <th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-gray-400 text-left">Pathological Genesis</th>
        <th class="border-b font-medium p-4 pt-0 pb-3 text-gray-400 text-left"> Associated Phenotype ID</th>
      </thead>
    <%= for mutation <- @mutations do %>
      <tr x-data={"{ mutation: \"#{ mutation.mutation}\"}"} x-show="selectedMutation && mutation.match(/(\d+)/g)[0] == selectedMutation.toString()">
        <td class="border-b border-gray-100 p-4 pl-8 text-gray-500 text-xl" ><%= mutation.mutation %></td>
        <td class="border-b border-gray-100 p-4 pl-8 text-gray-500 text-xl" ><%= mutation.genesis %></td>
        <td class="border-b font-medium p-4 pt-0 pb-3 text-gray-400 text-left"><%= mutation.phenotypes %></td>
      </tr>
    <% end %>
        </table>
  </div>
  
  <h1 class="text-xl mb-10">Phenotype Reference</h1>
  <table class="border-collapse table-auto w-full text-md">
      <thead>
        <th class="border-b font-medium p-4 pl-8 pt-0 pb-3 text-gray-400 text-left">Phenotype ID</th>
        <th class="border-b font-medium p-4 pt-0 pb-3 text-gray-400 text-left">Phenotype Name</th>
        <th class="border-b font-medium p-4 pt-0 pb-3 text-gray-400 text-left"> Snippet</th>
        <th class="border-b font-medium p-4 pr-8 pt-0 pb-3 text-gray-400 text-left">OMIM</th>
      </thead>
      <%= for phenotype <- @phenotypes do %>
        <tr>
          <td class="border-b border-gray-100 p-4 pl-8 text-gray-500 text-xl">
            <%= phenotype.id %>
          </td>
          <td class="border-b border-gray-100 p-4 text-gray-500">
            <%= phenotype.name %> (<%= phenotype.abbreviation %>)
          </td>
          <td>
            <%= phenotype.snippet %>
          </td>
          <td class="border-b border-gray-100 p-4 pr-8 text-gray-500">
            <a class="text-blue-400 hover:text-blue-600" target="_blank" href={"#{phenotype.omim_link}"}>
              Link
            </a>
          </td>
        </tr>
      <% end %>
    </table>

</section>